.footer {
  color: #545454;
  max-width: 100%;
  margin-top: 200px;
  margin-left: 139px;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}
